---
---
/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "reveal.js/template/mixins";
@import "reveal.js/template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-ThinItalic.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-Thin.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-Regular.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-MediumItalic.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-Medium.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-LightItalic.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-Light.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-Italic.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-BoldItalic.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-Bold.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-BlackItalic.ttf);
@import url({{site.baseurl}}/assets/fonts/Roboto/Roboto-Black.ttf);

@import url({{site.baseurl}}/assets/fonts/Roboto_Slab/RobotoSlab-VariableFont/wght.ttf);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #333;

$mainFontSize: 24pt;
$mainFont: 'Roboto-Light', Helvetica, sans-serif;
$headingFont: 'Roboto', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 900;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.6em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "reveal.js/template/theme";
// ---------------------------------------------

.reveal {

  .slides {
    border: 1px solid silver;
    text-align: left;
    counter-reset: sec-title;

    section {
      padding: 0;
      line-height: 2.5;

      img {
        border: none;
      }
    
    }

    section.title {

      img.key {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: none;
      }  

      .content {
        margin: 1em 2em;

        h2 {
          background: none;
        }  
      }
    }

    section.default {

      height: 100%;
      padding: 0;

      h2 {
        background: #CCC;
        box-sizing: border-box;
        padding: 1em 2em;
        margin: 0;
        height: 20%
      }

      div {
        box-sizing: border-box;
        padding: 1em 2em;
        margin: 0;
        height: 80%;
      }

      .left, .right, .fright {
        width: 44%;
        margin-top: 3em;
      }

      .left, .fleft {
        margin-left: 5%;
        margin-right: 2%;
      }

      .caption {
        background: rgba(0, 0, 0, 10);
        bottom: 0;
        color: #FFF;
        font-weight: 500;
        font-size: 60%;
        line-height: 1.2;
        padding: 0.5em 1em;
        position: absolute;
        left: 0;
        text-align: right;
      }

      .fleft {
        float: left;
      }

      .fright {
        float: right;
      }

      .max70h {
        max-height: 70%;
      }
    }

    section.section-title {
      background: #6A9AD0;
      height: 100%;

      h2 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 3em;
        width: 50%;
        margin-top: 2em;
        position: absolute;
        right: 0;
      }

    }

    section.section-title div {
        color: #222;
        position: absolute;
        left: 0.05em;
        top: -0.8em;
        font-weight: 900;
        font-size: 30em;
        content: counter(sec-title);
        counter-increment: sec-title;
    }

    section.quote {
      background: #5F5F5F;
      height: 100%;
      }
    }

    section.code-bg {
      width: 40%;

      .description {

        .title {
          padding: 0.5em 1em;
          font-size: 80%;
          color: #FFF;
          background: rgba(0, 0, 0, 0.4);
          margin: 0;
        }

        .content {
          font-size: 70%;
          line-height: 1.2;
          font-weight: 500;
          padding: 0.5em 1em;
          color: #FFF;
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }

  blockquote {
    font-family: "RobotoSlab", serif;
    border: none;
    padding: 1em;
    font-size: 1.2em;
    color: #FFF;
    background: rgba(95, 95, 95, 0.1);
    box-shadow: none;

    em {
      color: #F5C142;
    }

  }
}
