div.announcement, div.announcement * {
  background: transparent;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 740px;

  span.bg_highlight {
    background: $highlight; 
  }
}

div.announcement {
  margin: 0 auto;
}

div.announcement span.happy_cc {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

div.announcement h1 {
  font-size: 32px;
}

div.announcement table, div.task table {
  border-collapse: collapse;
  margin-bottom: 3rem;
  
  tbody {
    border: 1px solid silver;
    tr:nth-child(odd) {
      background: #F6F6F6;
    }
    border: 1px solid silver;
    tr:nth-child(even) {
      background: #FFF;
    }
  }

  td {
    border: 1px solid silver;
    border-top: none;
    border-bottom: none;
    padding: 10px 15px 4px 10px;
  }
}
  

div.announcement {
  h2, h3, h4 {
    color: #222;
    margin-bottom: 2px;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
  }

  h3 {
    font-weight: bold;
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
    font-style: italic;
  }
}
