span.happy_cc {
  font-weight: bold;
  background: $grey-2;
  padding: 1em;

  span.c1  {color: #e61919;}
  span.c2  {color: #e86717;}
  span.c3  {color: #e6a219;}
  span.c4  {color: #e5e619;}
  span.c5  {color: #a2e619;}
  span.c6  {color: #5de619;}
  span.c7  {color: #19e619;}
  span.c8  {color: #19e65e;}
  span.c9  {color: #19e6a2;}
  span.c10 {color: #19e5e6;}
  span.c11 {color: #19a1e6;}
  span.c12 {color: #195de6;}
  span.c13 {color: #195de6;}
  span.c14 {color: #5e19e6;}
  span.c15 {color: #a219e6;}
  span.c16 {color: #e619e5;}
  span.c17 {color: #e619a1;}
  span.c18 {color: #e6195d;}
  span.c19 {color: #e61919;}

}